body {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  /* display: flex; */
  background-color: white;
  /* width: 1140px;
  margin: auto; */
  min-height: 100vh;
  /* flex-direction: column;
  max-width: 1140px; */
  margin-top: 56px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lavender;
  position: sticky;
  top: 0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: lightskyblue;
}

.footer {
  padding: 20px;
  background-color: lavender;
  text-align: center;
}

/*
Source - https://stackoverflow.com/a
Posted by Brandon Walton, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-10, License - CC BY-SA 4.0
*/

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}
