{% extends "base.html" %} {% block content %} 

<div class="container border border-dark"" "> 
  <div class="text-center mb-5"> 
    <h1> About us </h1>
  </div>

  <div class="row align-items-center  text-center mb-5 " ">
    <div class="col" >
        <h3> Arnold </h3> 
        <p> Hi I'm Arnold and I am the software developer of DIY Chemistry, if there are any problems with the website I am the one that fixes them. In my free time I really like to game and spend time with my family.</p>
      </div>
      <div class="col" >
        <img src="../static/img/arnold.jpg" class="img-fluid w-75 rounded" style="aspect-ratio: 1/1; object-fit: cover;"  alt="arnold">
      </div>
    

    

  </div>

  <div class="row align-items-center text-center mb-5">
    <div class="col">
        <img src="../static/img/suzie.jpg" class="img-fluid w-75 rounded " style="aspect-ratio: 1/1; object-fit: cover;"   alt="Suzie">
      </div>
      <div class="col">
        <h3> Suzie  </h3>
        <p> Hi I'm Suzie I am the creator behind DIY Chemistry. I'm a teacher and I like to find experiments I can do with my students. My favorite color is blue. </p>
      </div>

    

  </div>


  <div class="row align-items-center text-center mb-5">
    <div class="col">
        <h3> Karel </h3>
        <p> 
          Hi I am Karel I am part of the managment I manage the website with Arnold. I'm a sucker for strawberry popsickles and I really like to surf in my freetime. 
        </p>
      </div>
      <div class="col">
        <img src="../static/img/Karel.jpg" class="img-fluid w-75 rounded" style="aspect-ratio: 1/1; object-fit: cover;" alt="Karel">
      </div>

    

  </div>

  <div class="row align-items-center text-center mb-5"  >
    <div class="col mb-5">
        <img src="../static/img/Dexter.webp" class="img-fluid w-75 rounded " style="aspect-ratio: 1/1; object-fit: cover;"  alt="Dexter">
      </div>
      <div class="col">
        <h3> Dexter </h3>
        <p> Hi I'm Dexter I am a creative freelancer. Together with Suzie I make sure that new experiments pop up on the website. I am her husband and we like to be creative in our freetime developing new science projects!</p>
      </div>
  </div>
</div>



{% endblock %}

 