<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title>DIY chemistry at home</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">

     <link rel="stylesheet" href="../static/CSS/index.css" />
  </head>
  <body>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>

  <div class="container">
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="experiments.html"> Experiments</a></li>
      <li><a href="contact.html"> Contact </a></li>
    </ul>

    <nav> 
      <a href=""> Periodic Table</a>
      <a href=" "> What is Chemistry</a>
      <a href=""> Organic Chemistry</a>


    </nav>

    <footer class="footer"> <h6> &copy; Serena </h6> </footer>


    </div>
  </div>
  </body>
</html>
