<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

     
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css' )}}"
    />


    <title>DIY chemistry at home</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png" />

    
    {% block head%}{%endblock%}
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">
            <img src="../static/img/favicon.png" alt="logo" style="width: 40px;" class="rounded-pill">
            DIY Chemistry at home
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

        
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdown">
                  Experiments 
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('experiments')}}">All experiment categories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('food')}}">Food category</a>
                    <a class="dropdown-item" href="{{url_for('fun')}}">Fun category</a>
                    <a class="dropdown-item" href="{{url_for('cosmetics')}}">Cosmetics category</a>

                  </div>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact_page')}}">Contact</a>
              </li>    
            </ul>
          </div>
        </div>
      </nav>

      <main class="container flex-grow-1 mt-4">

      {% block content %}{%endblock%}
      </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"">
      <div class="col-md-4 d-flex align-items-center">
        <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none 1h-1" href="../static/img/favicon.png" aria-label="chem"> 
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary"> &copy; 2026 DIY Chemistry at home</span>
      </div>
    </footer>

    </div>



    <!-- Loading bootstrap JS scripts -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
   integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
   crossorigin="anonymous"></script>
    
  </body>
</html>
