{% extends "base.html" %} {% block content %}
<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/fizzybtbomb.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      How to make bathbombs at home
    </h1>
  </div>
</div>

<nav>
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"   href="{{url_for('index')}}">Home</a> /
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark  link-underline-dark"  href="{{url_for('experiments')}}">Experiments</a> /
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"  href="{{url_for('cosmetics')}}">Cosmetics </a> /
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"  href="{{url_for('bathbomb')}}"><b>Bathbomb</b> </a>
</nav>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4">
  <div class="row">
    <div class="col-6 col-md-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 30 minutes</p>
      <p style="text-align: center">This recipe is for 2 bathbombs</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          100 gram baking soda
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkDefault"
        />
        <label class="form-check-label" for="checkDefault">
          50 grams maizena
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          50 grams citric acid
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          50 grams epsom salt
        </label>
      </div>
      
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          5-10 drops essential oil 
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 to 1&#189; tsp water
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1&#188; teaspoon oil (whatever oil you prefer )
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1-2 drops foodcoloring (optional)
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> big bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          bathbomb molds or icecube molds for smaller bathbombs
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is bathbomb </b></h4>
      <p>
        Bathbombs are balls that you can throw in your bath, made with
        sodiumbicarbonate, citric acid and other ingrediënts to make your bath
        experience a lot of fun. Bathbombs can be made in various colors and
        fragrances.
      </p>

      <h4> <b> Benefits </b> </h4>
      <p>
        Depending on the added ingredients, bathbombs can help soothe your skin
        or make you more relaxed. For kids it is a lot of fun to have a bathbomb color the bath in vibrant colors. 
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        Sodiumbicarbonate reacts with the citric acid forming carbondioxide, water and sodiumcitrate.<br> 
        Like this: sodiumbicarbonate + citric acid &#8594 carbondioxide + water + sodiumcitrate
      <br class="mb-1"> The fizzing in the water is the carbon dioxide forming when the reaction happens. 
       <br class="mb-1"> The cornstarch(maizena) acts as a filler, it affects the reactionrate of the bathbombs reaction. The faster the bathbomb dissolves the more carbondioxide it will make thus making the bathbomb fizzier. <br class="mb-1"> The epsomsalt is used to relax your muscles and soothes your skin    </p>
      <img src="../static/img/reactionbathbomb.webp" class="img-fluid" alt="reaction" />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> In a big bowl combine the bakingsoda, maizena, citric acid and epsom salt and mix. 
        <br class="mb-1" />
        <b>2.</b> In a small jar stir the water, oil, foodcoloring and essential oil. 
        <br class="mb-1" />
        <b>3.</b> slowly pour the mixing liquid in the big bowl of dry ingrediënts with a whisk. If you can make a solid clumb in your hands it's ready. 
        <br class="mb-1" />
        <b>4.</b> If it's too powdery add a tiny amount of water until it holds together. <br class="mb-1" />

        <b> 5. </b> Fill your bath bomb molds with the mixture until it is slightly overflowing and press both sides together. Remove the mold and place the bath bomb to dry on a tray. 
        <br class="mb-1" />
        <b> 6. </b> Let it dry overnight  or for 8 hours. Store them in a dry place. 

      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://abeautifulmess.com/homemade-bath-bombs/

https://www.toptal.com/designers/htmlarrows/numbers/fraction-one-quarter/
https://www.lush.com/uk/en/a/breaking-down-the-bath-bomb-the-ultimate-faq-guide-->
