{% extends "base.html" %} 

{% block content %}
<h1> Bathbombs </h1>

<h6> This is a tutorial on how you can make your homemade bathbombs!
  Bathbombs can be really expensive when you buy them from LUSH and making them at home is a fun activity!
</h6>


What you will need is: 
-Bath bomb molds or icecube molds
-110 gram bakingsoda
-60 gram corn starch
-60 grams of Epsom salt 
-1 or 11/2 teaspoon water
5-10 drops essential oil of your choice
(lavender essential oil is good for relaxation)
-1 teaspoon of oil
-1-2 drops food coloring (optional)

{% endblock %}