{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/tabsdish.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Elephanttoothpaste
    </h1>
  </div>
</div>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4">
  <div class="row">
    <div class="col-6 col-md-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          250gr baking soda
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          250gr citric acid
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          125g dishwasher salt
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          125ml distilled/white vinegar
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Essential oil (optional)
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Ice cube trays
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> big bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> teaspoon </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What are dishwashertabs </b></h4>
      <p>
        Dishwasher tabs are cubes with detergent to clean your dishes in the
        dishwasher.
        <br />
        Normal dishwashtabs consists:
        <br class="mb-1" />
        &#8226; <b>Enzymes </b> to break down proteines and sugars like starch.
        <br />
        &#8226; <b>Non-ionic surfactants </b> which are cleaning detergents
        removing the dirt and fats off the plates. <br />
        &#8226; <b>Sequestrants </b> which capture limescale and magnesium from
        the water. These prevent your dishes looking dull and white. <br />
        &#8226; <b>Oxygen-based bleaches </b> that remove stains from wine, tea,
        coffee, etc. <br />
        &#8226; <b>Fillers </b>, because when pH changes happen too fast enzymes
        stop working. Other substances mixing with each other might affect the
        performance of the dishwashertabs. &#8226; <b>Polymers </b> for
        effective rinsing.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        <b>Baking soda </b> is a mild abrasive alkali that helps break down most
        good-based and greasy stains. <br />
        <b> Dishwasher salt</b> Softens water by reacting with the calcium and
        magnesium ions in the water. <br />
        <b> Citric acid </b> Helps clean dishes as it has a low pH and binds
        with calciumions so they prevent from being attached to the surfactants
        used in dishwashertablets. <br />
        <b> Distilled vinegar </b> is anti-bacterial, neutralizes odor and cuts
        through grease and grime. <br class="mb-1" />
        <b> Grapefruit/Orange/Lemon essential oil </b> Antibacterial properties
        and nice smell. <br class="mb-1" />
        However when the bakingsoda and citric acid mix, sodiumacitrate is
        formed. Which is foodgrade substance. It softens water, cuts grease and
        removes stains. The baking soda kan also react with the vinegar creating
        sodiumacetate which can help buffer the pH and acts as a mild abrasive.
      </p>
      <img
        src="../static/img/tabsdishwaser.webp"
        class="img-fluid science-img"
        alt="reaction"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Put the dry ingredients in a big bowl
        <br class="mb-1" />
        <b>2.</b> Add half the vinegar, and a few drops of essential oil. The
        mixture will expand. (Not all, because it will fizz like crazy)
        <br class="mb-1" />
        <b>3.</b> Mix until it no longer fizzes and the mixture is clumpy.
        <br class="mb-1" />
        <b>4.</b> Fill the ice cube trays with the mixture and press them good.
        <br class="mb-1" />
        <b>5.</b> Let them dry overnight <br class="mb-1" />
        <b> 6. </b> Store in an airtight container.
        <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %} {% endblock %}
