{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/toothpaste.webp"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Elephanttoothpaste
    </h1>
  </div>
</div>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4">
  <div class="row">
    <div class="col-6 col-md-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 10minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 Tablespoon liquid dishsoap
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          120 ml 3% Hydrogen peroxide
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          8 drops of food dye
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          3 tablespoons of warm water
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 bag of yeast (7gr)
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Beaker or other small container
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          500ml Bottle
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Safety goggles
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is Elphant toothpaste </b></h4>
      <p>
        Elphant toothpaste revers to a hot foamy substance made by mixing
        hydrogen peroxide with yeast and warm water as a catalyst.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        <b>Hydrogen peroxide </b> is unstable when it is exposed to light. It
        decmposes into oxygen and water. This reaction is exothermic meaning
        that heat is released. The reaction happens really slowly but can be
        faster when you use a catalyst (A compound that accelerates a chemical
        reaction without being used in the reaction itself ) <br />
        <b> Liquid dishsoap </b> Is used to trap the oxygen into micells (small
        pherical clusters of hydrophic and hydrophilic parts. ) making the foam
        <br />
        <b> Yeast </b> Is used as a catalyst to speed up the process of the
        hydrogen peroxide breaking down <br />
        <b> Warm water </b> is used to dissolve the yeast and make it active
        <br class="mb-1" />

        When the yeast mixture is added to the hydrogenperoxide with soap a
        reaction happens. Micells form from the water that is created with the
        dishsoap, trapping the oxygen gas that forms when the hydrogen peroxide
        breaks down. This happens so fast that it appears that foam is being
        created. THe foam creates faster if you use higher concentrations of
        hydrogenperoxide.
      </p>
      <img
        src="../static/img/hydrogenperoxide.png"
        class="img-fluid science-img"
        alt="reaction"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Put the hydrogenperoxide with dishsoap and foodcoloring in a
        bottle.
        <br class="mb-1" />
        <b>2.</b> Put the bag of yeast in a small container or beaker with warm
        water and mix
        <br class="mb-1" />
        <b>3.</b> Add the yeast mixture to the bottle and watch the magic happen
      </p>

      <img
        src="../static/img/tootpastexperiment.avif"
        class="img-fluid science-img"
        alt="toothpaste"
      />
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.wcax.com/content/news/Science-Hacks-Elephant-Toothpaste-568152821.html-->
