{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/hydrogelmask.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Hydrogel facemask
    </h1>
  </div>
</div>

<nav>
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('index')}}"
    >Home</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('experiments')}}"
    >Experiments</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('cosmetics')}}"
    >Cosmetics</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('facemask')}}"
    ><b> Facemask</b></a
  >
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 2-5 days</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> 80ml tea </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          10ml Cucumber juice
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 gr
          <a
            href="https://www.amazon.com/LB-Agar-Powder-250-Grams/dp/B0FN44G43D?dib=eyJ2IjoiMSJ9.mcxMpg4jG7wz383NM7-otrwf8gPbQTAjqKWQnIAhJ-c3YfyioT7rGsWMb7C537V2u3Q_OukNij9RKqV0uDCpFCitAJmk_K75znNHIHwTFf6r-G4CfnsuQVHdTso9GZJvwwuI7Zquoxf7PaXdUcwAyLGL4M7A8ev2LnCAuat_p9zCAkjWF2k5YgXUL3q1S9F6XhGaNKiS2Jxt-6IgBDkV1MG37rWUZs7mI-qwm-MTUKCMDCHYb9Fn22CX6w_myBNdgpPPRZoDW1dYFtVjYTn_QuCCx43fBNc-wGcJCQTGeYU.tzSlMBD96cp2SPuLOChqAbTiZtX1UzT0MzN44JoHURU&dib_tag=se&keywords=agar+agar+powder&qid=1768392588&sr=8-8"
          >
            Agar Agar powder
          </a>
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          10 grams Glycerin
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          <a
            href="https://www.amazon.com/LEORX-Silicone-Reusable-Facemask-Seaweed/dp/B08C4V25C4?crid=3BXTRESQXOUFP&dib=eyJ2IjoiMSJ9.7HWpUrCbpyDj9DxU2gLiGkuEfOwhPjEkjicN3BuUJyfPLhP1YdULrAC40ztkZxfcfFKgc5YQhW09Onl9Sdn2NVUNoS_Vc_G6T0N-l1zlY2KFldXd9g_-umvBm0CzLfHCpkYyLYVzAXbTpXooiH48fBhxIPc3tmSV63pfVrdy4r0UpOEa0It5SpA82aamqbKMVNS_Rn-1N_Ke7XaY6lD81sOhoe0w672DD2CyHvxmsBPPqEGl_Om8uvtttcZkiCNJqZA6KKGYIMw-M539jD0YBdkwRBQUTbSigZcvWTN5Pa8.3ywtHrv8dZuQx88evD77s-Ef_2n6qbNpPzPcZwB55f4&dib_tag=se&keywords=facemask+mold&qid=1768392764&sprefix=facemask+mo%2Caps%2C225&sr=8-2"
          >
            Facemask molds
          </a>
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Mixing bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Scale </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Small cookingpan
        </label>
      </div>
    </div>

    <div class="col-md-8">
      <h4><b> What is a facemask </b></h4>
      <p>
        It's a type of sheetmask, but made with a gel-like texture that feels
        soothing for the skin.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        Agar agar is a seaweed derived substance from red algae or Irish mosh.
        It consists of polysaccharide agarose (sugar) and agaropectin. It is
        found in the cell walls of the seaweeds. When you heat up agar agar, a
        gel will form because the molecules will have a helix-formation. When it
        ages, the helixes will form stronger bonds.

        <br class="mb-1" />
        The cucumberjuice, green tea and glycerin are used for the soothing
        properties. You can always experiment further and add some other
        ingredients like honey or aloe vera.
      </p>
      <img
        src="../static/img/agar agar.jpg"
        class="img-fluid science-img"
        alt="reaction"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Heat up the water until it is 90 Celsius.
        <br class="mb-1" />
        <b>2.</b> Add the agar agar powder and stir until the solution is clear.
        <br class="mb-1" />
        <b>3.</b> Let the agar agar cool down to 50 celcius and add the
        cucumberjuice and glycerin, stir.
        <br class="mb-1" />
        <b>4.</b> Transfer the solution into the facemask molds and refridgerate
        for 10 minutes.
        <br class="mb-1" />
        <b>5.</b> Take out the facemask and enjoy! <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.sciencebuddies.org/science-fair-projects/project-ideas/CosmeticChemistry_p009/cosmetic-chemistry/hydrogel-face-mask-recipe-->
