{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/hotice.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Hot ice
    </h1>
  </div>
</div>

<nav>
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('index')}}"
    >Home</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('experiments')}}"
    >Experiments</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('fun')}}"
    >Fun</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('hotice')}}"
    ><b>Hot Ice </b>
  </a>
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4">
  <div class="row">
    <div class="col-6 col-md-4 rounded-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          3 tablespoons baking soda
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1L White vinegar
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Ice </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Steel cookingpan 2L
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Big bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Small bowl with lid
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Small bowl </label>
      </div>

      <img src="../static/img/science gif.gif" class="img-fluid" alt="gif" />
    </div>

    <div class="col-md-8">
      <h4><b> What is hot ice </b></h4>
      <p>
        Hot ice is sodiumacetate trihydrate, a chemical compound. When it's in a
        supersaturated solution with water it produces heat and salt crystals
        resembling ice. They are used in special hotpacks that are sold in store
        when it get's cold. The hotpacks are supplied with a metal shaped object
        that can initiate crystallization. They can be reused by boiling the
        heatpacks until all the crystals are dissolved.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        Baking soda reacts with the vinegar creating a supersaturated solution
        of sodium acetate. When the solution cools down and comes in contact
        with the sodiumacetate crystals crystallization initializes. That proces
        forms a lot of heat and it creates the appearance of ice. Thus the name
        of hot ice.
      </p>
      <img
        src="../static/img/hoticeproces.jpg"
        class="img-fluid science-img"
        alt="reaction"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Add the bakingsoda in a pan and slowly add vinegar. The
        vinegar reacts instantly with the bakingsoda creating fizz. Add more
        vinegar if there is bakingsoda visible in the pan.
        <br class="mb-1" />
        <b>2.</b> Let the solution boil for 30 minutes or more. About 90% of the
        water should be evaporized.
        <br class="mb-1" />
        <b>3.</b> Scrape the sodiumacetate crystals with a spoon from the side
        of the pan and collect them in a small bowl.
        <br class="mb-1" />
        <b>4.</b> Put the remaining liquid inside a closed container with 1 or 2
        tabelspoons of vinegar.
        <br class="mb-1" />
        <b>5.</b> Cool the liquid inside an ice bath for 15 minutes.
        <br class="mb-1" />
        <b> 6. </b> Take the closed container with liquid and add some
        sodiumacetatecrystals. Hot ice will form. Be careful not to burn
        yourself. Sodiumacetate is foodsafe.
        <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}
<!--https://nl.wikihow.com/Heet-ijs-maken-->
