{% extends "base.html" %} {% block content %}

<div class="container">
  <img src="../static/img/random.jpg" class="img-fluid" alt="random" />

  <div class="row rounded-4">
    <div class="col-sm-6">
      <div class="login-form">
        <h1>Login</h1>
        <form method="POST " action="/login ">
          <div class="form-group mb-3">
            <label for="emaillogin">Email</label>
            <input
              type="text"
              class="form-control"
              id="emaillogin"
              placeholder="Enter mail here "
              required
            />
          </div>
          <div class="col-auto mb-2">
            <label for="loginpassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="loginpassword"
              placeholder="Password"
            />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="login-form">
        <h1>Register</h1>
        <form method="POST" action="/login">
          <div class="form-group mb-3">
            <label for="emailregister ">Email</label>
            <input
              type="text"
              readonly
              class="form-control"
              id="emailregister"
              placeholder="Enter email here"
            />
          </div>
          <div class="col-auto mb-2">
            <label for="registerpassword ">Password</label>
            <input
              type="password"
              class="form-control"
              id="registerpassword "
              placeholder="Password"
            />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">
              Confirm registration
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
