{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/tabsdish.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Mayonaise
    </h1>
  </div>
</div>

<nav>
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"   href="{{url_for('index')}}">Home</a> /
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark  link-underline-dark"  href="{{url_for('experiments')}}">Experiments</a> /
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"  href="{{url_for('food')}}">Food</a> /
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"  href="{{url_for('mayo')}}"> <b> Mayonaise </b></a>
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4 rounded-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 15 minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> 1 egg </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 tablespoon vinegar or lemonjuice
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1/2 tablespoon Mustard
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          Salt and pepper to taste
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          200 ml Sunfloweroil or olive oil
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> handblender </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          jar that's big enough to fit the hand mixer
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is mayonaise </b></h4>
      <p>
        Mayo is used as condiment for sandwiches, fries and other edible goods.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        Mayonaise is made by mixing two liquids that do not mix by using
        emulsion. Emulsion can happen by rapid mixing. Eggs are the emulsifiër
        which contains lecithin. When you add the egg to oil and water the
        emulsification begins. A thick substance forms and mayo is made.
      </p>
      <img
        src="../static/img/emulsie.png"
        class="img-fluid science-img"
        alt="reaction"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Put all the ingrediënts except the oil in a jar and mix with
        the handmixer.
        <br class="mb-1" />
        <b>2.</b> Slowly add a bit of oil and mix, repeat this until you see the
        oil binding.
        <br class="mb-1" />
        <b>3.</b> If you want it thicker you can always add more oil. Enjoy!
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.strivingforsimple.co.uk/homemade-eco-dishwasher-tabs/
https://www.eurotab.eu/what-are-dishwasher-tablets-made-of-eurotab-en-art-128.html-->
