{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/mozarella.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Mozarella
    </h1>
  </div>
</div>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          3.7L raw milk
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1.5 teaspoons citric acid
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          0.5 teaspoon <a href=" https://amzn.to/2XSCdEw"> liquid rennet </a>
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> water </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 tabelspoon kosher salt
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> 2x big bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Cooking pot </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> strainer </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is mozarella? </b></h4>
      <p>
        Mozarella is a soft fresh cheese made from bufallo milk. It originates
        from Italy where it's eaten on pizza, salads and many more dishes. The
        bufallo milk can be substituted with normal cows milk. The taste of
        mozarella is mild and creamy. The texture is soft and squeaky.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        Milk has a proteïn called caseïne. When you add citric acid it lowers
        the pH of the milk. It will make sure your mozarella gets the right
        texture. The calcium phosphate in the casein micelles dissolve and
        replaced by hydrogen. This increases the stretch. Rennet destroys the
        caseïn micelles so they bind together, forming cheese curds. These
        cheesecurds are kneaded and stretched at high temperature forming the
        mozarella balls.
      </p>
      <img
        src="../static/img/kaasmaken.png"
        class="img-fluid science-img"
        alt="kaasmaken"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Dissolve the citric acid in 215ml water.
        <br class="mb-1" />
        <b>2.</b> Dissolve the rennet in 60 ml water.
        <br class="mb-1" />
        <b>3.</b> Add the milk into a big pot, while stirring add the citric
        acid solution.
        <br class="mb-1" />
        <b>4.</b> Put heat on medium high, while stirring occacionaly until the
        milk is 32 Celcius and take the pan off the heat.
        <br class="mb-1" />
        <b>5.</b> Add the rennet mixture while stirring the milk for 25 seconds
        and add a lid. Wait for 5 minutes. <br class="mb-1" />
        <b> 6. </b> Curds start to form, cut the curds into squares with a
        knife.
        <br class="mb-1" />
        <b> 7. </b> Put the pot back onto the heat until it reaches 40 Celsius
        while stirring very slowly to not break up the curds. Remove it from the
        heat and let it sit for 5 minutes.
        <br class="mb-1" />

        <b> 8. </b> Take the curds out of the pan and put it into a strainer and
        gently squirt out the whey from the curds with your hands.
        <br class="mb-1" />
        <b> 9. </b> The whey (liquid that's left) is seasoned with salt and put
        back on to the stove until it reaches 80 Celsius.
        <br class="mb-1" />
        <b> 10. </b> Place the curd into the whey and let it sit until it's
        malleable. Fold and stretch the cheese and make balls from it.
        <br class="mb-1" />
        <b> 11. </b> If you want to store them, store them in the cooled whey
        solution up to 4 days in the fridge.
        <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.makecheese.ca/blogs/news/9367395-the-science-behind-mozzarella-why-it-stretches-->
