{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/scrubbody.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Body scrub
    </h1>
  </div>
</div>

<nav>
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('index')}}"
    >Home</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('experiments')}}"
    >Experiments</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('cosmetics')}}"
    >Cosmetics</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('scrub')}}"
  >
    <b> Body scrub </b></a
  >
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4 rounded-4 " style="background-color: lavender">
      <p style="text-align: center">&#9202; 30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          120 ml olive oil
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          50grams liquid honey
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          200 grams salt
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          10 drops Lavender oil
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          75ml green tea
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> glass jar </label>
      </div>
    </div>

    <div class="col-md-8">
      <h4><b> Why use a bodyscrub </b></h4>
      <p>
        Scrubbing your body helps exfoliate the skin. This deepcleases the skin
        bariër, making your skin soft and promote cell turnover.
      </p>

      <h4><b> Different types of exfoliation </b></h4>

      <p>
        Exfoliation can be done in many ways, like using mechanic exfoliation
        with abrasive material. This can be a sponges, brushes, salt, sugar etc.

        <br />
        Chemical exfoliation works different for example acids and enzymes that
        bond to the dead skin cells and removing them. They exfoliate deeper
        into the skin(pores) and dissolve all the gunk and oil as well.
      </p>
      <img
        src="../static/img/peels and chemicals.png"
        class="img-fluid science-img"
        alt="scrub"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Boil water and steep the tea until the water cools to room
        temperature.
        <br class="mb-1" />
        <b>2.</b> Pour the honey with tea in a glass jar.
        <br class="mb-1" />
        <b>3.</b> Add the salt and mix well.
        <br class="mb-1" />
        <b>4.</b> Add the lavender oil and some dried lavenderflowers and mix
        again.
        <br class="mb-1" />
        <b>5.</b> Before use, stir the scrub <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.dille-kamille.nl/laat-je-inspireren/maak-het-met-dille/diy-bodyscrub/-->
