{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/slime.avif"
      class="img-fluid w-100"
      alt="slime"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Slime
    </h1>
  </div>
</div>

<nav>
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('index')}}"
    >Home</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('experiments')}}"
    >Experiments</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('fun')}}"
    >Fun</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('slime')}}"
  >
    <b> Slime </b></a
  >
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4 rounded-4 " style="background-color: lavender">
      <p style="text-align: center">&#9202; 30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          2 bottles of children slime
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          2 or 3 tablespoons of contactlens solution
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 teaspoon baking soda
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 or 2 drops of foodcoloring and/or glitter (optional)
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> Spoon </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          container with lid
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is slime </b></h4>
      <p>
        Slime is used as a toy for kids, but can also be used to remove dust.
        It's a non-Newtonian liquid that you can hold and play around with.
      </p>

      <h4><b> Scientific explanation </b></h4>
      <p>
        A non-Newtonian liquid is a liquid which the viscosity changes when
        stress is applied. Viscocity means the thickness or stickyness of a
        liquid.
        <br class="mb-1" />

        <b>Baking soda </b> is used in slime as activator. It is used to make
        the slime thick. <br />
        <b> Contact lens solution</b> In glue is a substance called
        polyvinylacetate that reacts with borate ions in the contact solution.
        When this happens the polyvinylacetate changes in strcture crosslinking
        together turning the glue into a stretchy slime like texture <br />
      </p>
      <img
        src="../static/img/Cross-linking-of-polyvinyl-alcohol-with-borax.png"
        class="img-fluid science-img"
        alt="reaction with borax "
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Put the glue inside a bowl with some foodcoloring and glitter.
        <br class="mb-1" />
        <b>2.</b> Add the baking soda with the glue and mix until it's a smooth
        mixture.
        <br class="mb-1" />
        <b>3.</b> Put the lens solution with the mixture, slowly until you get
        slimy threads. The mixture is now hardening.
        <br class="mb-1" />
        <b>4.</b> Keep mixxing slowly until you get a ball of slime.
        <br class="mb-1" />
        <b>5.</b> Grab the slime from the bowl and knead until smooth. If it's
        too sticky add half a tablespoon of contact solution.
        <br class="mb-1" />
        <b> 6. </b> Store in an airtight container.
        <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.hema.nl/inspiratie/hobby/slijm-maken-->
