{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/soap gif.gif"
      class="img-fluid w-100"
      alt="soap"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Soap
    </h1>
  </div>
</div>

<nav>
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('index')}}"
    >Home</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('experiments')}}"
    >Experiments</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('cosmetics')}}"
    >Cosmetics</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('soap')}}"
  >
    <b> Soap </b></a
  >
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4 rounded-4 " style="background-color: lavender">
      <p style="text-align: center">&#9202; 30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          250 ml olive oil
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          150 gr coconut oil
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          100 gr sheabutter
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          170 grams water
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          57 grams sodiumhydroxide
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          11 grams perfume oil (optional)
        </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> bowl </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> soap mall</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> scale </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> spoons </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          gloves and safety goggles
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> handmixer </label>
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is soap and why is it so good at cleaning </b></h4>
      <p>
        Soap is a surfactant and it's made with mixing lye (sodiumhydroxide)
        with oil. Soap solubilizes particles and grimes in micells. Which are
        molecules with a hydrophic tail (afraid of water) and hydrophylic
        head(likes water). A micell traps the dirt inside the core while it can
        still be in solution.
      </p>
      <img
        src="../static/img/micel.jpg"
        class="img-fluid science-img"
        alt="micel"
      />

      <h4><b> Scientific explanation </b></h4>
      <p>
        Soap is made with a process called saponification. The oils used in the
        soap have triglycerides on their molecular structure. When lye reacts
        with it it's releasing fatty acid salts and glycerol.
      </p>
      <img
        src="../static/img/saponification.jpg"
        class="img-fluid science-img"
        alt="reaction"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b> Put the sheabutter in a bowl in the microwave until it has
        melted.
        <br class="mb-1" />
        <b>2.</b> Add the oliveoil and coconut oil the bowl and mix.
        <br class="mb-1" />
        <b>3.</b> Make a sodiumhydroxide solution with water by slowly adding
        the sodiumhydroxide to the water.
        <b> Be carefull this mixture is highly corrosive and it gets hot!</b>
        <br class="mb-1" />
        <b>4.</b> Slowly add the sodiumhydroxide mixture to the oil while you
        mix that with a handmixer, mix the perfumeoil when the sodiumhydroxide
        mixture is added.
        <br class="mb-1" />
        <b>5.</b> Mix for 1 minute. <br class="mb-1" />
        <b> 6. </b> Put the soap mixture in mall.
        <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--https://www.youwish.nl/shop/recepten/olijf-zeep-recept-uit-de-21e-eeuw/-->
