{% extends "base.html" %} {% block content %}

<div class="container-fluid p-0">
  <div class="container p-0">
    <img
      src="../static/img/strabwerries.jpg"
      class="img-fluid w-100"
      alt="imgboba"
      style="height: 25vh; object-fit: cover"
    />

    <h1
      style="
        text-align: center;
        font-family: serif;
        background-color: lavender;
        color: black;
      "
    >
      Extracting DNA from strawberries
    </h1>
  </div>
</div>

<nav>
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('index')}}"
    >Home</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('experiments')}}"
    >Experiments</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('fun')}}"
    >Fun</a
  >
  /
  <a
    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5 text-dark link-underline-dark"
    href="{{url_for('strawberrydna')}}"
  >
    <b> Strawberry DNA </b>
  </a>
</nav>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container mt-4 position-sticky">
  <div class="row">
    <div class="col-6 col-md-4 rounded-4" style="background-color: lavender">
      <p style="text-align: center">&#9202; 20-30minutes</p>

      <h2
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Ingrediënts
      </h2>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          120 ml rubbing alcohol
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> salt </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          3x strawberries
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          1 tabelspoon dishwashing liquid
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> 80ml water </label>
      </div>

      <h4
        class="mt-4"
        style="
          text-align: center;
          font-family: serif;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-thickness: 1 px;
        "
      >
        Equipment
      </h4>

      <div class="form-check gap-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          meauring cups for liquids
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          measuring spoons
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          flass or small bowl</label
        >
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          glass or small bowl</label
        >
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> funnel</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          tall drinking glass</label
        >
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked"> cheesecloth</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkChecked"
          checked
        />
        <label class="form-check-label" for="checkChecked">
          bamboo skewers</label
        >
      </div>
    </div>
    <div class="col-md-8">
      <h4><b> What is DNA </b></h4>
      <p>
        DNA is also called deoxyribonucleic acid. It is found in the cells of
        all living organisms. DNA holds the instructions or blueprints for our
        bodies. Each cell has an entire copy of these instructions in it's
        nucleus.
      </p>

      <img
        src="../static/img/DNA.webp"
        class="img-fluid science-img"
        alt="DNA"
      />

      <h4 class="mt-4"><b> Scientific explanation </b></h4>
      <p>
        The extractionliquid containing salt, detergent and smashed strawberries
        open up the strawberry cells. The DNA inside the cells release. Salt
        clumbs up the cells. Alcohol seperates the DNA from the straberry
        liquid.
      </p>
      <img
        src="../static/img/dna strawberry.jpg"
        class="img-fluid science-img"
        alt="dnaberry"
      />

      <h4><b> Instructions </b></h4>
      <p class="p-0">
        <b>1.</b>Chill the rubbing alcohol in the Freezer. Must be really cold!
        <br class="mb-1" />
        <b>2.</b> Mix water, salt and dishwashingliquid in a bowl. This is your
        extractionliquid
        <br class="mb-1" />
        <b>3.</b> Fill funnel with cheesecloth. Put funnel into an empty tall
        drinking glass.
        <br class="mb-1" />
        <b>4.</b> Cut the green part of the strawberry off and put the remaing
        strawberry in a plasticbag. Mush it with your fingers into a strawberry
        juice like consistency.
        <br class="mb-1" />
        <b>5.</b> add 3 tablespoons of the extractionliquid into the bag
        <br class="mb-1" />
        <b> 6. </b> Pour the straberry mixture into the funnel and let it drip
        <br class="mb-1" />
        <b> 7. </b> Pour the filtered straberry liquid into a small jar until a
        quarter is filled <br class="mb-1" />
        <b> 8. </b> slowly pour alcohol into the cup until you have a layer of
        2.5cm alcohol liquid on top. DO NOT MIX! <br class="mb-1" />
        <b> 9. </b> Grab a skewer and pull up the white strings inside the
        rubbing alcohol layer.
        <br class="mb-1" />
      </p>
    </div>
  </div>
</div>

{% endblock %}

<!--

https://www.sciencebuddies.org/stem-activities/strawberry-dna-extraction-->
